<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Font Awsome-->
  <script src="https://kit.fontawesome.com/45da99070c.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Islamic Narrative</title>
  <link rel="shortcut icon" type="image/svg" href="https://img.icons8.com/fluency-systems-filled/48/000000/mosque.png" alt="Home"  >
</head>

<body>
  <div class="main_header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://img.icons8.com/fluency-systems-filled/48/000000/mosque.png"/> Islamic Narrative
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/structure">Structure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/critique">Critique and Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  </div>
  <div class="d-grid gap-3">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="p-2"></div>
  </div>
  <div class="container mx-auto">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}<img src="{% static 'img/sunset.jpg' %}" width="w-100" height="100%" alt="...">
                <div class="carousel-caption">
                    <h1 class="fw-bold">Core Philosophy</h1>
                    <p class="lead mb-0">Most of the, seemingly, rational beliefs are a product of complex emotional/psychological issues which are hard to understand. My mission here is to decode collective and individual psychological underpinnings through psychology and Islamic thought in order to better understand how we, the human beings, should proceed with regards to our social and political structures.</p>
                    <div class="d-grid gap-3">
                      <div class="p-2"></div>
                      <div class="p-2"></div>
                    </div>
                    <a href="/structure"><button type="button" class="btn btn-outline-primary btn-lg">Learn More</button></a>
                </div>
            </div>
        </div>
     </div>
    <div class="d-grid gap-3">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="p-2"></div>
  </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>
